.close-btn {
  width: 32px;
  height: 32px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
}

.mat-form-field {
    width: 100%;
}